<div class="login-card">
    <div class="login-card-text">
    <h1>login</h1>
    <p>let's get some work done.</p>
    </div>
    <form method="POST">
        <div class="username-container">
        <label class="login-label" name="email" for="email">email</label>
        <input class="login-field" type="text" name="email" placeholder=" email">
        </div>
        <div class="password-container">
        <label class="login-label" name="password" for="password">password </label>
        <input class="login-field" type="password" name="password" placeholder="password" required>
        </div>
        <div class="form-buttons">
            <a href="/register"><button type="button" class="register-button">register</button></a>             
            <button type="submit" class="login-button">log in</button>
        </form>
                        
        </div>             
     
</div>