<div class="new-post-form">
    <form method="POST" action="/newBlogPost" enctype="multipart/form-data">
       
        <input type="hidden" name="author" value="{{name}}" readonly/>
        
        <label for="title" required >title: 
            <input type="text" name="title">
        </label>
        <label for="title">image: 
            <input type="file" accept="image/png, image/jpeg" name="image">
        </label>
        <label for="title">link: 
            <input type="text" name="link">
        </label>
        {{!-- <input type="date" name="date"> --}}
        <div class="content-field">
            <label for="content">content:  
                <textarea type="text" name="content" rows="10" cols="70"></textarea>
            </label>
        </div>
        <button type="submit">POST</button>
    </form>
</div>