/* CONTACT START */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    background-color: black;
  }
  #contact header {
    color: aqua;
    font-weight: bold;
    font-size: 7vw;
    letter-spacing: -0.5vw;
  }
  #contact {
    text-align: center;
    padding-bottom: 20vh;
    color: aqua;
  }
  .contact-links {
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 50px 2px 50px;
  }
  #email_link {
     font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 50px 0px 50px;
    margin-bottom: 50px;
  }
  .emailicon {
    margin-right: 10px;
  
  }
  #email_link a {
    color: aqua;
    text-decoration: none;
  }
  #email_link a:visited {
    color: aqua;
    text-decoration: none;
  }
  .contact-link {
    text-decoration: none;
    color: inherit;
    padding: 30px;
  }
  .sandbox img {
      width: 50px;
      height: 70px;
  }
  /* CONTACT END */