#projects {
    padding: 30vh 0px 50px 0px;
    background-image: linear-gradient(180deg, black, #303841, black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;  
  }


  .seeMore {
      background-color: black;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 150px;
  }
  .seeMore ul {
    list-style: none;
  }
  .seeMore a {
    color: aqua;
  }
  
  .seeMore li:hover {
    cursor: pointer;
  }

  @media (max-width: 900px) {
    #projects {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25vh 0 50px 0;
    }
  .seeMore {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 600px) {
    #projects {
    padding: 25vh 0 50px 0;
  }
}

@media (max-width: 500px) {
  #projectsSection {
    padding: 10px;
  }
}