#projectsSection {  
    margin: 0 auto;
    margin-top: 0px;
    padding: 50px;
    background-image: linear-gradient(180deg, black, #303841, black);
  }

.project-slide {
    background-color: rgba(82, 82, 82, 0.31);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .project-slide a {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .project-slide img {
    width: 27vw;
    height: 20vw;
  }
  .post-info-container{
    margin-top: -30px;
  }
  .post-meta-data {
    color: rgb(1, 75, 75);
    border-radius: 0px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: aqua;
    width: 28vw;
    height: 30px;
}

.post-meta-data a {
    color: black;
}

  @media (max-width: 900px) {
  
    .project-slide {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .projInfo p {
      color: aqua;
      font-size: 20px;
      padding: 20px;
      width: 90%;
    }
    .project-slide img {
      width: 60vw;
      height: auto;
      
    }
  }  
  @media (max-width: 500px) {
    .projInfo p {
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
    } 
  }

